[user]
    email = liuchen250.student@gmail.com
    name = Yicheng Liu
[alias]
    b = branch
    cm = commit -m
    co = checkout
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    diff = auto
    status = auto
